html {
  margin: 0;
  padding: 0;
  /*background: purple;*/
  background: black;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*background: purple;*/
  background: black;
  height: 100%;

    /* Set the image path */
  background-image: url('imgs/Stickerized-logo.png');

  /* Center the image horizontally and vertically */
  background-position: center;

  /* Prevent the image from repeating */
  background-repeat: no-repeat;

  /* Keep image fixed when scrolling */
  background-attachment: fixed;

  /* Scale image to cover screen while maintaining aspect ratio */
  background-size: cover;
}